<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e0f2f1;
            background-image: url('images/todo.jpg');
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        
        label {
            font-weight: bold;
        }
        
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
        
        input[type="submit"], input[type="button"] {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 10px; 
        }
        
        input[type="submit"]:hover, input[type="button"]:hover {
            background-color: #45a049;
        }

        .btn-container {
            text-align: center;
        }

        .back-button {
            background-color: #4caf50; 
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <form action="#" method="post">
        <h2>Cadastro de membro</h2>
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" minlength="5" maxlength="255" required>


        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <div style="position: relative;">
            <input type="password" id="senha" name="senha" required>

        </div>

        <div class="btn-container">
            <button class="back-button" onclick="history.back()">Voltar</button>
            <input type="submit" value="Enviar"> 
        </div>
    </form>

    <script>
        
    </script>
</body>
</html>